<form action="/bookmark/add" method="POST">
  <input class='input' type'text' placeholder='please enter title' name='title'>
  <input class='input' type'text' placeholder='please enter url' name='url'>
  <input type='submit' value='Add Bookmark'>
</form>